<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatwell- make the world a tastier place</title>
    <link rel="stylesheet" href="styles/index.css"/>
    <link rel="stylesheet" href="styles/shared.css"/>
</head>
<body>
    <header id="main-header">
        <div id="logo"><a href="/">Eatwell</a></div>
        <nav>
            <ul>
                <li><a href="/restaurent">browse restaurent</a></li>
                <li><a href="/recommend">share a restaurent</a></li>
                <li><a href="about">about Eatwell</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>success</h1>
        <p>your Restaurent was added successfull to our list</p>
    </main>