body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: rgb(221, 195, 44);
    font-size: 20px;

}
main{

width: 95%;
margin: 30px auto;
text-align: center;
}
main h1{
    font-family: 'robato';
    color: bisque;
}

main p{
    color: rgb(75, 4, 4);
}

#main-header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;

}
#logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;

}
#logo a{
    text-decoration: none;
    color: rgb(133, 113, 13);
    padding: 10px;
    background-color: rgb(255, 255, 4);
    border-radius: 50%;

}
#main-header h1{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
#main-header .nav-item a{
    text-decoration: none;
    color: rgb(185, 137, 6);
    padding: 2.5px 10px;

}
#main-header .nav-item a :hover{
    background-color: rgb(136, 104, 16);
    border: 6px;
}


